*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.buttons {
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

.clickable {
    cursor: pointer;
}

.buttons.clickable path {
    transition: filter 0.3s ease; 
}

.buttons.clickable path:hover {
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5)); 
}

.active {
    opacity: 0.5;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #999999;
    color: black;
    font-size: 3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}